.register {
  color: #356899;
}

.havent-an-account-container {

  margin-top: 44px;
  font-size: 14px;
  color: #bdbec2;
}

.headline9 {

  margin-top: 0px;
  left: 0px;
  letter-spacing: -0.01em;
  line-height: 140%;
  font-weight: 600;
}

.headline10 {

  margin-top: 8px;
  left: 0px;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 160%;
  opacity: 0.4;
}

.group-div {

  margin-top: 8px;
  left: 24px;
  width: 207px;
  height: 63px;
  text-align: left;
  font-size: 24px;
  font-family: Poppins;
}

.forgot-password1 {

  margin-top: 40px;
  width: 100%;
  left: 127px;
  color: #356899;
  text-align: center;
}


.login-button {
  margin-top: 32px;
  width: 100%;
}

.rectangle-parent {
  position: relative;
  margin-top: 16px;
  left: 0px;
  width: 100%;
  height: 52px;
}

.button-parent {

  margin-top: 51px;
  left: 24px;
  width: 100%;
  height: 208px;
  text-align: left;
  font-size: 14px;
  font-family: Poppins;
}

.or-continue-with {

  margin-top: 0px;
  left: 114px;
}

.line-div {
  margin: 0 20px;
  margin-top: 7.75px;

  border-top: 0.5px solid #afb0b6;
  box-sizing: border-box;
  width: 20%;
  height: 0.5px;
}

.or-continue-with-parent {

  margin-top: 48px;
  display: flex;
  justify-content: center;
  left: 24px;
  width: 100%;
  height: 16px;
  font-size: 13px;
  color: #afb0b6;
}

.jbizz5 {
  text-align: left;
  margin-top: 36px;
  font-size: 22px;
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: Poppins;
  color: #356899;
  display: inline-block;
  width: 100%;
}

.log-in {
  display: flex;
  padding: 24px;
  flex-direction: column;
  background-color: #fafafd;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  color: #0d0d26;
  font-family: "Circular Std";
}

// Forgot Password
.forgot-password {
  display: flex;
  padding: 24px;
  flex-direction: column;
  background-color: #fafafd;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  color: #0d0d26;
  font-family: "Circular Std";

  .jbizz5 {
    text-align: center;
  }

  .button-parent {

    margin-top: 31px;
  }

  .headline-group {
    margin-top: 35px;
    width: 100%;
    height: 95px;
    font-size: 24px;

    .headline3 {
      top: 0px;
      left: 57px;
      letter-spacing: -0.01em;
      line-height: 140%;
      font-weight: 600;
    }

    .headline4 {
      top: 51px;
      left: 0px;
      font-size: 14px;
      letter-spacing: -0.01em;
      line-height: 160%;
      display: inline-block;
      width: 311px;
      opacity: 0.4;
    }
  }
}
