// ------- mixins --------

// input placeholder color mixin
@mixin placeholder-color($color) {
  &::placeholder {
    color: $color !important;
  }
}

// -------- variables -----------

// primary color variants map
$primary-variants: (
  '25': #f7f7fe,
  '50': #efeefd,
  '100': #e8eaf6,
  '200': #c5cae9,
  '300': #c1bcf8,
  '400': #7986cb,
  '500': #5c6bc0,
  '600': #3f51b5,
  '700': #3949ab,
  '800': #303f9f,
  '900': #283593
);

// grey color variants map
$grey-variants: (
  '25': #fcfcfd,
  '50': #f9fafb,
  '100': #f2f4f7,
  '200': #e4e7ec,
  '300': #d0d5dd,
  '400': #98a2b3,
  '500': #667085,
  '600': #475467,
  '700': #344054,
  '800': #1d2939,
  '900': #101828
);

// success color variants map
$success-variants: (
  '25': #f6fef9,
  '50': #ecfdf3,
  '100': #d1fadf,
  '200': #a6f4c5,
  '300': #6ce9a6,
  '400': #32d583,
  '500': #12b76a,
  '600': #039855,
  '700': #027a48,
  '800': #05603a,
  '900': #054f31
);

// warning color variants map
$warning-variants: (
  '25': #fffcf5,
  '50': #fffaeb,
  '100': #fef0c7,
  '200': #fedf89,
  '300': #fec84b,
  '400': #fdb022,
  '500': #f79009,
  '600': #dc6803,
  '700': #b54708,
  '800': #93370d,
  '900': #7a2e0e
);

// error color variants map
$error-variants: (
  '25': #fffbfa,
  '50': #fef3f2,
  '100': #fee4e2,
  '200': #fecdca,
  '300': #fda29b,
  '400': #f97066,
  '500': #f04438,
  '600': #d92d20,
  '700': #b42318,
  '800': #912018,
  '900': #7a271a
);

// theme colors
// combination of single color as well as variants map

$theme-colors: (
  'primary': $primary-variants,
  'grey': $grey-variants,
  'success': $success-variants,
  'warning': $warning-variants,
  'error': $error-variants,
  'light': #f5f5f5,
  'white': #ffffff
);

// box model side values
$box-sides: (
  't': top,
  'b': bottom,
  'l': left,
  'r': right
);

// notification types
$notification-types: (primary warning error);
